
@{
    ViewBag.Title = "Photo Gallary";
}




<ul class="nav nav-tabs nav-justified" id="navTabsGanres"></ul>


<div class="container-fluid" id="containerIndexPage">

</div>



<script id="genresTmpl" type="text/x-jquery-tmpl">
    <li><a class="navbar-link nav-justified" id="${Id}">${Name}</a></li>
</script>

<script id="divAddGenresTmpl" type="text/x-jquery-tmpl">
    <div class="container container_photo_genres text-center" id="${Id}">
        <a class="navbar-link text-center ganre_link" href="#" id="${Id}">${Name}</a>
        <hr />
        <div class="photo3pt">
        </div>
        

    </div>
</script>

<script id="divGenresTmpl" type="text/x-jquery-tmpl">
    <div class="onePhotoIndex" style="margin-right:2px;">
        <p class="text-center">${Name}</p>
        <img class="img-thumbnail" src=${Url} alt="Image" />
    </div>

</script>