
@{
    ViewBag.Title = "Photo Gallary";
}
<script src="~/Scripts/Index.js"></script>

<div class="container-fluid" id="containerIndexPage">

</div>



<script id="divAddGenresTmpl" type="text/x-jquery-tmpl">
    <div class="container container_photo_genres text-center" id="${Id}">
        <a class="navbar-link text-center ganre_link" href="/home/genre/${Id}" id="${Id}">${Name}</a>
        <hr />
        <div class="photo3pt" id="IdPhotoDiv${Id}">
        </div>
        

    </div>
</script>

<script id="divGenresTmpl" type="text/x-jquery-tmpl">
    <div class="onePhotoIndex" style="margin-right:2px;">
        <p class="text-center">${Name}</p>
        <img class="img-thumbnail" src=${Url} alt="Image" />
    </div>

</script>